main {
    transform: translateY(2%);
    display: flex;
/*     width: 70%;
    margin: auto; */
}

.carte {
    border: 1px solid black;
    padding: 5px;
    margin: 0px 12px 0 0;
}

.img img {
    width: 260px;
    margin: 5px 20px;
}

table {
    text-align: left;
}

tr {
    margin: 10px 0 0 0;
}

th {
    text-align: left;
    padding: 10px 0px;
    font-size: 1.2rem;
}

td {
    padding: 0px 0px 0px 60px;
    font-size: 1.1rem;
}

.text {
    min-width: 600px;
}

.text p {
 line-height: 1.6;
 font-size: 14px;
 padding: 0px 0px 10px 0px;
}

