@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  text-decoration: none;
  font-size: 12px;
  color: black;
  font-family: 'Roboto', sans-serif;
}

body {
  height: 100vh;
}

nav {
  display: flex;
  justify-content: center;
  padding: 30px;
  font-weight: 300;
  border-bottom: 1px solid rgb(165, 165, 165);
  background-color: #344D67;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul li {
  width: 170px;
}

nav ul li a {
  font-size: 22px;
  font-weight: 300;
  margin: 0px 40px;
  transition: 0.5s;
  color: #6ECCAF;
}

nav ul li a:hover {
  color: rgb(170, 121, 121);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: #344D67;
  margin: 20px 0px 0px 0px;
}

footer .right {
  display: flex;
}

footer p {
  text-align: center;
  margin: 1rem 0px;
  padding: 0px 8px;
  font-size: 17px;
  color: white;
}

footer .border {
  border-right: 1px solid white;
}



  
